{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5 content-box p-4 border rounded">
    <div>
        <h2 class="pt-2 pb-2 mb-2 px-2 w-50">Archived notifications</h2>
        <p>Take a look at any of your prior notifications here:</p>
    </div>
    {% if Notifications %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Disease</th>
                    <th scope="col">Notes</th>
                </tr>
            </thead>
            {% for notification in Notifications %}
                <tr>
                    <td> {{ notification.created_at }}</td>
                    <td> {{ notification.disease }}</td>
                    <td> {{ notification.message }}</td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
        <div class = "p-4 alert-primary d-flex justify-content-center">
            <tr>
                <td>No notifications at the moment.</td>
            </tr>
        </div>
    {% endif %}
</div>
{% endblock %}