{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5 content-box p-4 border rounded">
    <div>
        <h4 class="alert-primary pt-2 pb-2 mb-2 border rounded px-2 w-50">View your archived notifications here.</h4>
    </div>
    {% if Notifications %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Disease</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Expand</th>
                </tr>
            </thead>
            {% for notification in Notifications %}
                <tr>
                    <td> {{ notification.created_at }}</td>
                    <td> {{ notification.disease }}</td>
                    <td> {{ notification.message }}</td>
                    <td>
                        <button class="btn btn-outline-primary" href="#">View</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
        <div class = "p-4 alert-primary d-flex justify-content-center">
            <tr>
                <td>No notifications at the moment.</td>
            </tr>
        </div>
    {% endif %}
</div>
{% endblock %}