{% load static %}
<html lang="en">
<link rel="stylesheet" href="{% static 'style.css' %}">
<html style="font-family: 'Trebuchet MS'">
    <body style="font-family:'Trebuchet MS'">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoos Sick</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-light bg-dark">
        <li class="nav-brand pb-1 pt-1 active pl-2 pr-4 d-flex align-items-center">
            <img src="{% static 'logo.png' %}" class="img-fluid logoimage" alt="Responsive image">
        </li>
        <ul class="navbar-nav">
            <li class="border rounded nav-item navimg1 navclass active px-1 d-flex align-items-center">
                <a class="nav-link text-dark" href="{% url 'App:index' %}">
                <img src="{% static 'home_light.png' %}" class="img-fluid navimage" alt="Responsive image">
              <span>Home</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto px-2">
            <li class="mx-2 border rounded nav-item navimg4 navclass active px-1 d-flex align-items-center">
                <a class = "nav-link text-dark ml-auto" href="{% url 'App:help' %}">
                <img src="{% static 'help_light.png' %}" class="img-fluid navimage" alt="Responsive image">
                <span>Help</span></a>
            </li>
            <li class="mx-2 border rounded nav-item navimg3 navclass active px-1 d-flex align-items-center">
                <a class = "nav-link text-dark ml-auto" href="{% url 'App:logout' %}">
                <img src="{% static 'logout_light.png' %}" class="img-fluid navimage" alt="Responsive image">
                <span>Log out</span></a>
            </li>
            <li class="mx-2 border rounded nav-item navimg2 navclass active px-1 d-flex align-items-center">
                <a class = "nav-link text-dark ml-auto" href="{% url 'App:profile' %}">
                <img src="{% static 'settings_light.png' %}" class="img-fluid navimage" alt="Responsive image">
                <span>Profile</span></a>
            </li>
            {% if request.user.groups.all.0.name == "site-admin" %}
                <a href="{% url 'App:admin_visualization_view' %}" class="btn btn-danger">View Exposure Map</a>
            {% endif %}

        </ul>
    </nav>
        {% block content %}

        {% endblock %}
    <div class="p-5 bg-white" ></div>
    <footer class="text-center text-white p-1 pt-3 mt-3 fixed-bottom bg-dark">
        <h6>This project is created as part of HooHacks (2025) and not live - please do not input sensitive info.</h6>
        <p>Created by Gavin Crigger, Matthew Lucio, Justin Park, and Sebastian Wiktorowicz</p>
    </footer>

    <!-- Bootstrap JS (via CDN) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>