{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'style.css' %}">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="x-ua-compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Log In</title>
        
        <!-- Link to your custom stylesheet -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body class="text-center">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <img src="{% static 'logo.png' %}" class="img-fluid logoimage" alt="Responsive image">
            </nav>
            <div class="top-banner"></div>
            <div class="bottom-banner">
                <img src="{% static 'sniffles.png' %}" class="img-fluid sniffle fade-in pt-3" alt="Responsive image">
            </div>
        </header>
        <div class = "main-picture">
            <div class="overlay"></div>
                <div class="content">
                    {% load socialaccount %}
                    <h2 class = "slide-from-left pt-5">Welcome to Hoos Sick,<h2>
                        <h6 class="slide-from-right pb-3">where we let you know you're sick before your body does</h6>
                    <button type="button" class="btn btn-primary">
                        <a class = "text-white" href="{% provider_login_url 'google' %}?next=/">Log in with google</a>
                    </button>
                </div>
        </div>
        <div class="p-5 bg-white" ></div>
        <footer class="text-center text-white p-1 pt-3 mt-3 fixed-bottom bg-dark">
            <h6>This project is not live and created as part of HooHacks (2025)</h6>
            <p>Created by Gavin Crigger, Matthew Lucio, Justin Park, and Sebastian Wiktorowicz</p>
        </footer>
    
        <!-- Bootstrap JS (via CDN) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

        <script>
            window.onload = function () {
              document.querySelector('.sniffle').classList.add('fade-in-active');
              document.querySelector('.slide-from-left').classList.add('slide-from-left-active');
              document.querySelector('.slide-from-right').classList.add('slide-from-right-active');
            };
        </script>
    </body>
    </html>
{% endblock %}