{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- names_template.html -->
<div class="mx-auto pt-4 col-md-6">
  <div class="card p-2 pb-4">
    <div class="card-header">
      <h1>Report physical illness</h1>
    </div>
  <form class="pt-4" method="post">
      {% csrf_token %}
      {{ form.as_p }}

      <h2> Enter physical illness contacts:</h2>

      <div id="names-container">
        <div class="name-row">
          <label>First Name: <input type="text" name="first_name[]" /></label>
          <label>Last Name: <input type="text" name="last_name[]" /></label>
        </div>
      </div>
      <div class = "pt-3">
        <button type="button" id="add-name">Add Name</button>
      <input type="submit" value="Submit">
      </div>
    </form>
    </div>
</div>
  
  <script>
  // When the "Add Name" button is clicked, create another set of inputs
  document.getElementById("add-name").addEventListener("click", function() {
      // Create a new container div for the extra inputs
      var newRow = document.createElement("div");
      newRow.classList.add("name-row");
      
      // Create input for first name
      var firstNameLabel = document.createElement("label");
      firstNameLabel.innerText = "First Name: ";
      var firstNameInput = document.createElement("input");
      firstNameInput.type = "text";
      firstNameInput.name = "first_name[]";
      firstNameLabel.appendChild(firstNameInput);
      
      // Create input for last name
      var lastNameLabel = document.createElement("label");
      lastNameLabel.innerText = "Last Name: ";
      var lastNameInput = document.createElement("input");
      lastNameInput.type = "text";
      lastNameInput.name = "last_name[]";
      lastNameLabel.appendChild(lastNameInput);
      
      // Append inputs to the new row
      newRow.appendChild(firstNameLabel);
      newRow.appendChild(lastNameLabel);
      
      // Append the new row to the container
      document.getElementById("names-container").appendChild(newRow);
  });
  </script>
  

{% endblock %}